.idea
Temp/
Library/
Library/
Logs/
/*.csproj
/*.sln
.vs/
obj/

FUICompiler/bin/
FUICompiler/obj/
Assets/Sources/Code/
Assets/Scripts/Local/ILRuntime/Generated/
Assets/Scripts/Local/ILRuntime/Generated.meta
Assets/StreamingAssets/scripts.meta
Assets/StreamingAssets/scripts/*
!Assets/StreamingAssets/scripts/bootstrap.js