.idea
Temp/
Library/
Library/
Logs/
/*.csproj
/*.sln
.vs/
obj/

FUI/
Assets/Editor Default Resources/FUI/
Assets/Editor Default Resources/FUI.meta
UserSetting/
Assets/StreamingAssets/scripts.meta
Assets/StreamingAssets/scripts/*
!Assets/StreamingAssets/scripts/bootstrap.js